:root {
  --bg-color: hsl(228, 99%, 58%);
  --text-color: hsl(0, 0%, 100%);
  --border-color: hsl(220, 100%, 64%);
  --nav-padding: 1em;
  --content-padding: 2em;
  --horz-padding: 2em;
  --vert-padding: 1em;
  --nav-text-size: 12px;
  --p-text-size: 17px;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/inter-variable.ttf') format('truetype');
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img,
svg {
  vertical-align: middle;
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: 'Inter';
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.container > header {
  padding: 1.2em 2em;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--nav-text-size);
}

header > nav > a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  height: 24px;
}

header a .bullet {
  display: inline-block;
  font-size: 24px;
  line-height: 18px;
  transform: scale(1.2) translate(0, 2px);
  margin-right: 1px;
}

header > nav .menu-open-button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 8h16M4 16h16'/%3E%3C/svg%3E%0A");
  width: 24px;
  height: 24px;
  transform: scale(0.8);
  text-indent: -9999px;
  margin-right: 10px;
}

main.content {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 44% 28% 28%;
  grid-template-areas: "hero stats stats"  "hero stats stats";
  border: 1px solid var(--border-color);
  border-width: 1px 0 0 0;
}

.hero {
  grid-area: hero;
  border: 1px solid var(--border-color);
  border-width: 0 0 1px 0;
  padding: 2em;
}

.stats {
  border: 1px solid var(--border-color);
  border-width: 0 1px 1px 1px;
  padding: var(--horz-padding);
}

.stats-1 > header {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6.667 16h18.666M16 6.667v18.666'/%3E%3C/svg%3E%0A");
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stats h3 {
  font-size: var(--p-text-size);
  font-weight: bold;
  margin-top: 0;
}

.stats .content p {
  font-size: var(--nav-text-size);
  margin-bottom: 0;
}

.stats > header {
  text-align: right;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 20px;
}

footer {
  padding: var(--vert-padding) var(--horz-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--nav-text-size);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}